{% extends 'base.html' %}
{% block title %} 
    Home Page
{% endblock %}

{% block content %} 

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
    <link rel="stylesheet" href = "{ {url_for('static', filename='voyager.ttf') }}">
</head>
<body>

    <div class="advert-container">
        <div class="advert-carousel">
            <div class="advert">
                <img class="advert-photo" src="{{ url_for('static', filename='advert1.jpg') }}" alt="Advert 1"/>
            </div>
        </div>
    </div>


    <!-- Home page text-->
    <div class="home-text">
    <h2> THE COLLECTORS CUT</h2>
    <h4> A PLACE FOR ALL YOUR FILM NEEDS</h4>

    <!-- Shop button in center of page-->
    <a href="{{ url_for('shop_page') }}">
    <button class="shop-btn">
        SHOP NOW
    </button>
    </a>

    
    </div>

    
    <!-- Carousel wip - needs to auto scroll - make photos better -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top: 50px;">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="background-color: black;"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" style="background-color: black;"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" style="background-color: black;"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{{ url_for('static', filename='new_item.png') }}" alt="First slide" style="object-fit: cover; height: 70vh;">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{{ url_for('static', filename='peaceful.png') }}" alt="Second slide" style="object-fit: cover; height: 70vh;">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{{ url_for('static', filename='item_images/2099 Spiderman Suit.png') }}" alt="Third slide" style="object-fit: cover; height: 60vh;">
            </div>
        </div>
    </div>

        <h4 class="Trends">Trending Items</h4>
        <!-- Insert 4 images in a row-->

        <!-- Four images in a row -->
        <div class="row">
        <img src="{{ url_for('static', filename='item_images/Space Wand.png') }}" alt="Image 1" class="col-md-3 image_1">
        <img src="{{ url_for('static', filename='space_car.jpg') }}" alt="Image 2" class="col-md-3 image_2">
        <img src="{{ url_for('static', filename='millenium_falcon.png') }}" alt="Image 3" class="col-md-3 image_3">
        <img src="{{ url_for('static', filename='x_wing.png') }}" alt="Image 4" class="col-md-3 image_4">
        </div>



        <div class="container">
            <p class="copyright-message">
                <em>Copyright © 2023 The Collectors Cut</em>. All rights reserved.

                This website and its content are protected by copyright law. No part of this website may be reproduced, distributed, or transmitted in any form or by any means, including photocopying, recording, or other electronic or mechanical methods, without the prior written permission of [Company Name], except in the case of brief quotations embodied in critical reviews and certain other noncommercial uses permitted by copyright law.

                Unauthorized use of any content on this website may give rise to a claim for damages and/or be a criminal offense.

                All images on this website are AI generated and not real.

                For permission to use any content from this website, please contact <em>The Collectors Cut</em> at [contact email/phone number/address].
            </p>
        </div>

        <script>
            $(document).ready(function() {
                $('.carousel').carousel();
            });
        </script>

</body>

{% endblock %} 


<!-- Need to add a search bar at the top of the page-->

<!-- Follow Nike Website-->
 
<!-- Comment at top of website followed by shop button-->

<!--Carousel of potential items to buy, scroll enabled by left and right buttons-->

<!--Trending items, potentially-->

<!-- Add copyright and social details at bottom - use uiverse for buttons-->

<!-- Need user login!!!-->

<!-- Potentially implement review system-->

