<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>

<body>

    <a class="logo" href="#"><img class="logo" src="{{ url_for('static', filename='fancy_logo1.png') }}"></a>

    <!-- Home Button - consistency with login page -->
    <a href="{{ url_for('home_page') }}">
    <button data-text="home" class="home-button">
        <span class="actual-text">&nbsp;home&nbsp;</span>
        <span class="hover-text" aria-hidden="true">&nbsp;home&nbsp;</span>
    </button>
    </a>

    {% if error %}
      <label>
        <input type="checkbox" class="alertCheckbox" autocomplete="off" />
        <div class="alert error">
          <span class="alertClose">X</span>
          <span class="alertText">
            <div class="error-message"><strong>{{ error }}</strong></div>
          <br class="clear"/></span>
        </div>
      </label>
    {% endif %}

    <!-- Sign Up Form -->
    <form action="{{ url_for('signup_page') }}" method="post">
        <div class="container">
            <div class="card">
                <a class="signup">Sign Up</a>
                <div class="inputBox1">
                    <input type="text" required="required" id="email_address" name="email_address">
                    <!-- Email Requirement-->
                    <span class="user">Email</span>
                </div>

                <div class="inputBox">
                    <input type="text" required="required" id="username" name="username">
                    <!-- Username Requirement-->
                    <span>Username</span>
                </div>

                <div class="inputBox">
                    <input type="password" required="required" id="password1" name="password1">
                    <!-- Password Requirement-->
                    <span>Password</span>
                </div>

                <div class="inputBox">
                    <input type="password" required="required" id="password2" name="password2">
                    <!-- Password Requirement-->
                    <span>Confirm Password</span>
                </div>

                <button class="enter">
                    Enter
                </button>

            </div>
        </div>
    </form>

</body>