
body{
    background-color: black;
    color: #FFFFFF;
}

.logo{
    width: 120px;
    height: 120px;
    max-width: 120px;
    max-height: 120px;
}

.navbar{
    background-color: black !important ;
    border-bottom: 2px solid white;
}
    body, html{
height: 100%;
min-height: 100vh;
margin: 0px;

}

    .btn {
        padding: 0.5em 2em 0.5em 2.5em;
        font-size: 1em;
        font-weight: bold;
        border-radius: 15px;
        color: #fff6fb;
        letter-spacing: 0.3em;
        text-shadow: -2px 2px 5px #0F9CB4;
        background-color: transparent;
        border: 2px solid #0F9CB4;
        box-shadow: 0 0 0px 1px #0F9CB4,
          0 0 10px 2px #0F9CB4,
          inset 0 0 0px 1px #0F9CB4,
          inset 0 0 10px 2px #0F9CB4;
        transition: 100ms;
        margin-right: 25px;
    }
    
    .btn:hover {
        box-shadow: 0 0 0px 1px #0F9CB4,
          0 0 10px 2px #0F9CB4,
          inset 0 0 0px 1px #0F9CB4,
          inset 0 0 30px 2px #0F9CB4;
        text-shadow: 0 0 10px #0F9CB4;
        transform: translateY(-5px);
    }
    
    .btn:active {
        box-shadow: 0 0 0px 1px #0F9CB4,
          0 0 25px 2px #0F9CB4,
          inset 0 0 0px 1px #0F9CB4,
          inset 0 0 30px 2px #0F9CB4;
        transform: translateY(1px);
    }
      
    @keyframes move-background {
        from {
              -webkit-transform: translate3d(0px, 0px, 0px);
          }
          to { 
              -webkit-transform: translate3d(1000px, 0px, 0px);
          }
      }
      @-webkit-keyframes move-background {
        from {
              -webkit-transform: translate3d(0px, 0px, 0px);
          }
          to { 
              -webkit-transform: translate3d(1000px, 0px, 0px);
          }
      }
      
      @-moz-keyframes move-background {    
          from {
              -webkit-transform: translate3d(0px, 0px, 0px);
          }
          to { 
              -webkit-transform: translate3d(1000px, 0px, 0px);
          }
      }
      
          @-webkit-keyframes move-background {
          from {
              -webkit-transform: translate3d(0px, 0px, 0px);
          }
          to { 
              -webkit-transform: translate3d(1000px, 0px, 0px);
          }
      }
      
      .background-container{
          position: fixed;
          top: 0;
          left:0;
          bottom: 0;
          right: 0;
      }
      
      .stars {
       background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
       position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
            z-index: 0;
      }
      
      .twinkling{
          width:10000px;
          height: 100%;
          background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
          background-size: 1000px 1000px;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 2;
          
          -moz-animation:move-background 70s linear infinite;
        -ms-animation:move-background 70s linear infinite;
        -o-animation:move-background 70s linear infinite;
        -webkit-animation:move-background 70s linear infinite;
        animation:move-background 70s linear infinite;
          
      }
      
      .clouds{
          width:10000px;
          height: 100%;
          background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
          background-size: 1000px 1000px;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 3;
      
         -moz-animation:move-background 150s linear infinite;
        -ms-animation:move-background 150s linear infinite;
        -o-animation:move-background 150s linear infinite;
        -webkit-animation:move-background 150s linear infinite;
        animation:move-background 150s linear infinite;
      }
      img{
        height: 70vh;
        width:70vh;
        position: absolute;
        z-index: 3;
        right: 20px;
      }

      .star-wars-intro {
        background: url("img/stars-bg.jpg") center center;
        width: 100%;
        height: 100%;
        font-family: "Droid Sans", arial, verdana, sans-serif;
        font-weight: 700;
        color: #EBD71C;
        background-color: #000;
        overflow: hidden;
        position: relative;
        }
    
        .star-wars-intro p.intro-text {
        position: relative;
        max-width: 16em;
        font-size: 200%;
        font-weight: 400;
        margin: 20% auto;
        color: #4ee;
        opacity: 0;
        z-index: 1;
        text-align: center;
        -webkit-animation: intro 2s ease-out;
        -moz-animation: intro 2s ease-out;
        -ms-animation: intro 2s ease-out;
        -o-animation: intro 2s ease-out;
        animation: intro 2s ease-out;
        }
    
        .star-wars-intro .main-content{
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        z-index: 3;
        width: 98%;
        height: 50em;
        bottom: 0;
        font-size: 80px;
        font-weight: bold;
        text-align: justify;
        overflow: hidden;
        transform-origin: 50% 100%;
        transform: perspective(350px) rotateX(25deg);
        }
    
        .star-wars-intro .main-content:after {
        position: absolute;
        content: ' ';
        top: 0;
        bottom: 60%;
        background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
        pointer-events: none;
        }
    
        .star-wars-intro .space-button {
        color: #EBD71C;
        border: 12px solid #EBD71C;
        padding: 20px;
        background: transparent;
        text-decoration: none;
        margin: 0 auto;
        display: block;
        text-align: center;
        }
    
        .star-wars-intro .space-button:hover {
        background-color: #D2BE03;
        border-color: #D2BE03;
        color: black;
        }
    
        .star-wars-intro .space-button:active,
        .star-wars-intro .space-button:focus {
        background-color: #B8A40A;
        border-color: #B8A40A;
        color: black;
        }
    
        .star-wars-intro .title-content {
        position: absolute;
        top: 100%;
        animation: scroll 120s linear 4s forwards;
        }
    
        .star-wars-intro .title-content > .content-header {
        text-align: center;
        }
    
        /* Main Image Styles */
    
        .star-wars-intro .main-logo {
        position: absolute;
        width: 2.6em;
        left: 50%;
        top: 20vh;
        font-size: 10em;
        text-align: center;
        margin-left: -1.3em;
        line-height: 0.8em;
        letter-spacing: -0.05em;
        color: #000;
        text-shadow: -2px -2px 0 #EBD71C, 2px -2px 0 #EBD71C, -2px 2px 0 #EBD71C, 2px 2px 0 #EBD71C;
        opacity: 0;
        z-index: 1;
        -webkit-animation: logo 5s ease-out 2.5s;
        -moz-animation: logo 5s ease-out 2.5s;
        -ms-animation: logo 5s ease-out 2.5s;
        -o-animation: logo 5s ease-out 2.5s;
        animation: logo 5s ease-out 2.5s;
        }
    
        .star-wars-intro .main-logo > img {
        max-width: 100%;
        }
    
        @-webkit-keyframes intro {
        0% { opacity: 1; }
        90% { opacity: 1; }
        100% { opacity: 0; }
        }
    
        @-moz-keyframes intro {
        0% { opacity: 1; }
        90% { opacity: 1; }
        100% { opacity: 0; }
        }
    
        @-ms-keyframes intro {
        0% { opacity: 1; }
        90% { opacity: 1; }
        100% { opacity: 0; }
        }
    
        @-o-keyframes intro {
        0% { opacity: 1; }
        90% { opacity: 1; }
        100% { opacity: 0; }
        }
    
        @keyframes intro {
        0% { opacity: 1; }
        90% { opacity: 1; }
        100% { opacity: 0; }
        }
    
    
        @-webkit-keyframes logo {
        0% { -webkit-transform: scale(1); opacity: 1; }
        50% { opacity: 1; }
        100% { -webkit-transform: scale(0.1); opacity: 0; }
        }
    
        @-moz-keyframes logo {
        0% { -moz-transform: scale(1); opacity: 1; }
        50% { opacity: 1; }
        100% { -moz-transform: scale(0.1); opacity: 0; }
        }
    
        @-ms-keyframes logo {
        0% { -ms-transform: scale(1); opacity: 1; }
        50% { opacity: 1; }
        100% { -ms-transform: scale(0.1); opacity: 0; }
        }
    
        @-o-keyframes logo {
        0% { -o-transform: scale(1); opacity: 1; }
        50% { opacity: 1; }
        100% { -o-transform: scale(0.1); opacity: 0; }
        }
    
        @keyframes logo {
        0% { transform: scale(1); opacity: 1; }
        50% { opacity: 1; }
        100% { transform: scale(0.1); opacity: 0; }
        }
    
        @keyframes scroll {
        0% { top: 100%; }
        100% { top: -170%; }
        }
    
        @media screen and (max-width: 720px) {
        .star-wars-intro .main-content {
            font-size: 35px;
        }
        .star-wars-intro .title-content {
            position: absolute;
            top: 100%;
            animation: scroll 100s linear 4s forwards;
        }
        }
    
        audio{
            display: none;
        }

        .intro-button{
            display: none;
            margin: auto;
        }

        .intro-link{
            display: none;
        }
        
        



    

      
      
      
      
  
