
    body{
        background-color: black;
        color: #FFFFFF;
    }

    .logo{
        width: 120px;
        height: 120px;
        max-width: 120px;
        max-height: 120px;
    }

    .navbar{
        background-color: black !important; /* !important is used to override the bootstrap css */
        border-bottom: 2px solid white;
    }

    body, html{
      height: 100%;
      min-height: 100vh;
      margin: 0px;

    }

    /* Navbar Buttons */
    .btn {
        padding: 0.5em 2em 0.5em 2.5em;
        font-size: 1em;
        font-weight: bold;
        border-radius: 15px;
        color: #fff6fb;
        letter-spacing: 0.3em;
        text-shadow: -2px 2px 5px #0F9CB4;
        background-color: transparent;
        border: 2px solid #0F9CB4;
        box-shadow: 0 0 0px 1px #0F9CB4,
          0 0 10px 2px #0F9CB4,
          inset 0 0 0px 1px #0F9CB4,
          inset 0 0 10px 2px #0F9CB4;
        transition: 100ms;
        margin-right: 25px;
    }
    
    .btn:hover {
        box-shadow: 0 0 0px 1px #0F9CB4,
          0 0 10px 2px #0F9CB4,
          inset 0 0 0px 1px #0F9CB4,
          inset 0 0 30px 2px #0F9CB4;
        text-shadow: 0 0 10px #0F9CB4;
        transform: translateY(-5px);
    }
    
    .btn:active {
        box-shadow: 0 0 0px 1px #0F9CB4,
          0 0 25px 2px #0F9CB4,
          inset 0 0 0px 1px #0F9CB4,
          inset 0 0 30px 2px #0F9CB4;
        transform: translateY(1px);
    }

    /* Social Media Buttons */
    .main {
        display: flex;
        flex-direction: column;
        gap: 0.3em;
        /*Center in navbar*/
        align-items: center;
        justify-content: center;
        margin-right: 155px;
      }
      
      .up {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
      }
      
      .down {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
      }
      
      .card1 {
        width: 90px;
        height: 90px;
        outline: none;
        border: none;
        background: white;
        border-radius: 90px 5px 5px 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        transition: .2s ease-in-out;
      }
      
      .instagram {
        margin-top: 1.5em;
        margin-left: 1.2em;
        fill: #cc39a4;
      }
    
      .card2 {
        width: 90px;
        height: 90px;
        outline: none;
        border: none;
        background: white;
        border-radius: 5px 90px 5px 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        transition: .2s ease-in-out;
      }
      
      .twitter {
        margin-top: 1.5em;
        margin-left: -.9em;
        fill: #03A9F4;
      }
      
      .card3 {
        width: 90px;
        height: 90px;
        outline: none;
        border: none;
        background: white;
        border-radius: 5px 5px 5px 90px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        transition: .2s ease-in-out;
      }
      
      .github {
        margin-top: -.6em;
        margin-left: 1.2em;
      }
      
      .card4 {
        width: 90px;
        height: 90px;
        outline: none;
        border: none;
        background: white;
        border-radius: 5px 5px 90px 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        transition: .2s ease-in-out;
      }
      
      .discord {
        margin-top: -.9em;
        margin-left: -1.2em;
        fill: #8c9eff;
      }
      
      .card1:hover {
        cursor: pointer;
        scale: 1.1;
        background-color: #cc39a4;
      }
      
      .card1:hover .instagram {
        fill: white;
      }
      
      .card2:hover {
        cursor: pointer;
        scale: 1.1;
        background-color: #03A9F4;
      }
      
      .card2:hover .twitter {
        fill: white;
      }
      
      .card3:hover {
        cursor: pointer;
        scale: 1.1;
        background-color: black;
      }
      
      .card3:hover .github {
        fill: white;
      }
      
      .card4:hover {
        cursor: pointer;
        scale: 1.1;
        background-color: #8c9eff;
      }
      
      .card4:hover .discord {
        fill: white;
      }

      #loader {
        width: 80px;
        height: 40px;
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 1000;
        margin: auto;
        transform: translate(-25px, -200px);
      }
      
      

      


    

      
      
      
      
  
